

.button_container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.button {
    font-size: 20px;
    border: 1px solid #2c2c2c;
    background-color: #eeececcc;
    padding: 10px;
}